code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

h1 {
  /* background-color: rosybrown; */
  /* text-align: center; */
}

.item {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  margin: 0.1em;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "left_sidebar main_content_area right_sidebar"
    "footer footer footer";
}

.header {
  grid-area: header;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.left_sidebar {
  grid-area: left_sidebar;
}

.right_sidebar {
  grid-area: right_sidebar;
}

.main_content_area {
  grid-area: main_content_area;

  display: flex;
  align-items: center;
  justify-content: center;
}

.interactiveBox {
  border: 3px solid grey;
  height: 60px;
  width: 60px;
  background-color: rosybrown;
  transition: 500ms;
}

.interactiveBox:hover {
  height: 120px;
  width: 120px;
  background-color: burlywood;
}
